body {
  background-color: #555;
}

#cb canvas {
  cursor: none;
  width: 100%;
  display: block;
}

div#cb {
  width: 100vw;
  height: 76vw;
  max-height: 100vh;
  max-width: 131.57vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
